/* 
    Main Background colour: #1e1e2e
    Accent colour: #C778DD
    Text colour: #FFFFFF;
*/


body {
    background-color: #1e1e2e;
    font-family: 'Courier New', monospace;

}
/* Smooth transition for hover effect */
.navbar-nav .nav-link {
    transition: color 0.5s ease; /* Add smooth transition */
}

/* Change the hover color */
.navbar-nav .nav-link:hover {
    color: #c778dd;  /* Set the color you want for hover */
}



.container-fluid{
    padding: 1.5rem 5rem;
}

.navbar-toggler{
    border:none;
}
.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D%220%200%2032%2032%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20stroke%3D%22rgb(199%2C%20120%2C%20221)%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M4%208h24M4%2016h24M4%2024h24%22%2F%3E%3C%2Fsvg%3E");
}
  
.hash {
    color: #c778dd;
}

.nav-item .nav-link.active {
    color: #ffffff;
    font-weight: bold;
}


.nav-item a{

    text-decoration: none;
    color: #b0b0b0;
    font-weight: 500;
    transition: color 0.3s ease;
}

.text-container {
    height: clamp(3rem, 10vw, 6rem);
    /* responsive height */
    /* roughly matches the max font size */
    display: flex;
    align-items: center;
    overflow: visible;
    /* keeps extra content from pushing layout */
    color:#c778dd;


}

.hero {
    top: 25%;
    left: 25%;
    position: absolute;

    /* adjust to fit your largest Hello */
}

.hero h1 a {
    font-family: 'Poppins', sans-serif;
    color: #c778dd;
    font-size: clamp(4rem, 8vw, 6rem);


}


.hero h2 {
    padding-top: 1rem;
    font-family: 'Poppins', sans-serif;
    font-size: clamp(2rem, 3vw, 2rem);
    font-weight: 400;
    /* regular weight */
    color: #ffffff;
    /* slightly lighter for contrast */
    margin-left: 4px;
}